body {
  /* background: var(--bg); */
  background: var(--black);
}

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}

/* 스크롤 크기 */
::-webkit-scrollbar {
  width: 0.4vw;
  height: 0.1vh;
}
/* 스크롤 디자인 */
::-webkit-scrollbar-thumb {
  background: #8c89b043;
  border-radius: 20%;
}
/* 스크롤 배경 */
::-webkit-scrollbar-track {
  background: var(--bg);
}