/* footer */
#footer {
    width: 100vw;
    overflow: hidden;
    margin-top: 15vh;
}
#footer h2, #footer h3 {
    font-size: 15.5vw;
    color: var(--title);
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
}
#footer h2 {
    margin-left: 50vw;
}
#footer h3 {
    margin-left: -8.5vw;
    margin-top: -13.5vh;
}

/* flow__cont */
.flow__cont {}
.flow__wrap {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
    font-family: var(--font-sub);
    font-weight: 300;
    color: var(--line);
    font-size: 3.2vw;
}
.flow__wrap:hover {
    color: var(--finish);
}
.flow__wrap:hover .flowText {
    animation-play-state: paused;
    cursor: help;
}
.flowText {
    animation: textLoop 3s linear infinite;
    padding-right: 1.4881vw;
}
@keyframes textLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
}

/* footer__cont */
.footer__cont {
    display: flex;
    flex-wrap: wrap;
    padding: 14vh 2vw 12vh 5.2vw;
    font-family: var(--font-sub);
}
.determination {
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 1.1;
    margin-left: 26.7vw;
}
.footer__info {
    margin-top: 1.5vh;
    margin-left: 21.5vw;
    margin-bottom: 20vh;
}
.footer__info .dateTime {
    font-size: 3.6vw;
    font-weight: 300;
    margin-bottom: 4vh;
}
.myAddress {}
.myAddress a:nth-child(1) {
    display: block;
    font-size: 1.8vw;
    font-weight: 500;
    margin-bottom: 1.5vh;
}
.myAddress a:nth-child(2) {
    font-size: 1.2vw;
    font-weight: 300;
    color: #2D2E30;
}

/* footer__end */
.footer__end {
    display: flex;
    flex-wrap: wrap;
}
.footer__end h4 {
    font-size: 7vw;
    font-weight: 600;
    line-height: 1.2;
    color: var(--finish);
    border-bottom: 0.7vw solid var(--finish);
}

/* myLink__circle */
.myLink__circle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2vh;
    margin-left: 12.5vw;
}
.mySocial {
    width: 5.75vw;
    height: 5.75vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mySocial:after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.1vw solid rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    width: 117%;
    height: 117%;
}
.mySocial:hover .linkIconHover {
    stroke-dashoffset: 0;
}
.mySocial img {
    width: 1.4vw;
    object-fit: contain;
    object-position: center;
}
.linkIconHover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 117%;
    height: 117%;
    z-index: 1;
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: all ease-out .5s;
}
