/* 스킵 메뉴 */
#skip {
    z-index: 10000;
    position: relative;
}
#skip a {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--font-color);
    font-family: var(--font-kor);
    position: absolute;
    left: -50vw;
    top: 12vh;
}
#skip a:active,
#skip a:focus {
    left: 2vw;
}

/* top-nav */
#top-nav {
    width: 100vw;
    padding: 1.7vw 2vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
}
.brand {}
.btn-menu {}
.btn-menu:hover {
    cursor: pointer;
}

/* header */
#header {
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.header-bg iframe {
    width: 100vw;
    height: 100vh;
}
.header__title {
    position: absolute;
    right: 0.5vw;
    top: 31vh;
    line-height: 0.8;
}
.header__title h3 {
    font-size: 15.8vw;
    color: var(--title);
}
.header__title .desc1 {
    font-family: var(--font-kor);
    font-size: 0.9vw;
    font-weight: 100;
    line-height: 1.63;
    margin-left: 0.65vw;
}
#header .desc2 {
    font-size: 3.12vw;
    line-height: 1.2;
    position: absolute;
    left: 8vw;
    bottom: 7.5vh;
}
