/* introduce */
#introduce {
    width: 100vw;
    overflow: hidden;
    /* height: 200vh; */
    /* background: rgb(234, 165, 165); */
}
.personality__tit {
    padding-top: 14vh;
    text-align: right;
    margin-bottom: 10vh;
}
.personality__tit .myPhoto {
    width: 29vw;
    border-radius: 50%;
    margin-right: 9vw;
}
.personality__tit h3 {
    width: 115vw;
    font-size: 15.5vw;
    color: var(--title);
    line-height: 1.2;
    margin-left: -16vw;
    margin-top: -7vh;
    white-space: nowrap;
    /* overflow: hidden; */
    position: relative;
}
.personality__tit h3 .bead1 {
    background: url(../img/circle_01.jpg) no-repeat;
    background-size: cover;
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    position: absolute;
    left: 48.2%;
    top: 11%;
}

/* personality__box */
.personality__box {
    font-family: var(--font-sub);
}
.personality__inner {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    padding: 0 6vw 0 10vw;
    margin-bottom: 30vh;
    margin-left: auto;
}
.personality__cont {
    display: none;
}
.personality__cont {
    margin-right: 4vw;
}
.personality__cont .myImg {
    margin-top: 12vh;
    width: 33vw;
    height: 33vw;
    border-radius: 50%;
    margin-left: 18vw;
}
.personality__cont .myImg01 {
    background: url(../img/my_Img01.jpg);
    background-size: cover;
    background-position: center center;
}
.personality__cont .myImg02 {
    background: url(../img/my_Img02.jpg);
    background-size: cover;
    background-position: center center;
}
.personality__cont .myImg03 {
    background: url(../img/my_Img03.jpg);
    background-size: cover;
    background-position: center center;
}
.personality__cont .myImg04 {
    background: url(../img/my_Img04.jpg);
    background-size: cover;
    background-position: center center;
}
.personality__cont .myImg05 {
    background: url(../img/my_Img05.jpg);
    background-size: cover;
    background-position: center center;
}
.personality__cont .myImg06 {
    background: url(../img/my_Img06.jpg);
    background-size: cover;
    background-position: center center;
}
.personality__cont .myImg07 {
    background: url(../img/my_Img07.jpg);
    background-size: cover;
    background-position: center center;
}

.personality__cont .myDetails {
    float: right;
    margin-top: -20vh;
}
.personality__cont .myDetails h3 {
    font-size: 3.8vw;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 3vh;
}
.personality__cont .myDetails p {
    font-family: var(--font-kor);
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 1.5;
}
.personality__list {
    /* margin-left: auto; */
}
.personality__list ul {}
.personality__list ul li {
    font-size: 3.8vw;
    font-weight: 500;
    line-height: 1.3;
}