/* study */
#study {
    width: 100vw;
    overflow: hidden;
    position: relative;
}
#study .study-bg iframe {
    width: 40vw;
    height: 40vh;
    z-index: -2;
    margin-left: 54vw;
    margin-top: 10vh;
}
#study h3 {
    font-size: 15.5vw;
    color: var(--title);
    line-height: 1.2;
    margin-left: -9vw;
    margin-top: -25vh;
    margin-bottom: 12vh;
    white-space: nowrap;
    /* overflow: hidden; */
}
.study__info {
    margin-left: 10.2vw;
    margin-bottom: 20vh;
}
.study__infoTit {
    font-family: var(--font-sub);
    font-size: 3.6vw;
    font-weight: 500;
    margin-bottom: 4vh;
}
.study__infoDesc {
    font-family: var(--font-kor);
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.5;
}
.study__list {
    padding: 0 10.2vw;
    margin-bottom: 30vh;
}
.study__list ul {}
.study__list ul li {
    border-top: 0.1vw solid #8b8b8b;
    padding: 3vh 0;
}
.study__list ul li:nth-child(13) {
    border-bottom: 0.1vw solid #8b8b8b;
}
.study__list ul li span {
    display: flex;
    width: 100%;
}
.study__list ul li span em {
    text-align: left;
}
.study__list ul li span em:nth-child(1) {
    width: 23%;
    font-family: var(--font-sub);
    font-size: 1vw;
    font-weight: 500;
}
.study__list ul li span em:nth-child(2) {
    width: 24%;
    font-family: var(--font-sub);
    font-size: 1.2vw;
    font-weight: 500;
}
.study__list ul li span em:nth-child(3) {
    width: 51%;
    font-family: var(--font-kor);
    font-size: 0.85vw;
    line-height: 1.45;
    font-weight: 300;
}
.study__list ul li span em:nth-child(3) a {
    text-decoration: underline;
    text-underline-position: under;
}