body {
    width: 100vw;
    overflow: hidden;
    background: var(--bg);
}
iframe {
    pointer-events: none;
}

/* 스킵 메뉴 */
#skip {
    z-index: 10000;
    position: relative;
}
#skip a {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--font-color);
    font-family: var(--font-kor);
    position: absolute;
    left: -100vw;
    top: 12vh;
}
#skip a:active,
#skip a:focus {
    left: 2vw;
}

/* #parallax__info 스크롤 값 */
#parallax__info {
    position: fixed;
    left: 0.5vw;
    bottom: 1vh;
    z-index: 2000;
    font-family: var(--font-sub);
    text-align: center;
    transform: translateY(150%);
    opacity: 0;
}
#parallax__info .scroll span {
    display: inline-block;
    font-size: 1vw;
    color: #e6e3d8;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5vw 0.7vw;
}

/* header */
#header {
    width: 100vw;
    padding: 1.3vw 1.7vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1000;
    transform: translateY(-200%);
    opacity: 0;
}
#header h1,
#header nav {
    font-size: 1.5vw;
}
#menu {
    cursor: pointer;
}

/* section1 */
#section1 {
    position: relative;
}
.sec1-bg iframe {
    width: 100vw;
    height: 100vh;
    opacity: 0;
}
.sec1 .ideas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 0.8;
}
.sec1 .ideas h3 {
    font-size: 15.8vw;
    color: var(--title);
}
.sec1 .ideas h3 span {
    display: inline-block;
    transform: translateX(100px);
    opacity: 0;
}
.sec1 .ideas .ideas-desc {
    font-family: var(--font-kor);
    font-size: 0.9vw;
    font-weight: 100;
    line-height: 1.63;
    margin-left: 0.65vw;
}
.ideas-desc span {
    display: inline-block;
    transform: translate(10px, 10px);
    opacity: 0;
    min-width: 0.3vw;
}
.sec1-desc {
    font-size: 3.12vw;
    line-height: 1.2;
    position: absolute;
    left: 8vw;
    bottom: 7.5vh;
}
.sec1-desc span {
    display: inline-block;
    transform: translateY(-15px);
    opacity: 0;
    min-width: 0.7vw;
}
@media(max-width: 1220px){
    #header {
        padding: 2.6vw 3.2vw;
    }
    #header h1,
    #header nav {
        font-size: 2.3vw;
    }
    .sec1-bg iframe {
        width: 80vw;
        height: 80vh;
        margin-top: 13vh;
        margin-left: 10vw;
        margin-bottom: 1.5vh;
    }
    .sec1 .ideas {
        margin-top: -5vh;
        margin-left: -2vw;
    }
    .sec1 .ideas h3 {
        font-size: 16.8vw;
    }
    .sec1 .ideas .ideas-desc {
        font-size: 1.2vw;
        line-height: 1.5;
    }
    .sec1-desc {
        font-size: 3.8vw;
        position: absolute;
        left: 9vw;
        bottom: 1vh;
    }
}
@media(max-width: 768px){
    #header {
        padding: 3.1vw 3.9vw;
    }
    #header h1,
    #header nav {
        font-size: 3.4vw;
    }
    .sec1-bg iframe {
        margin-top: 20vh;
    }
    .sec1 .ideas {
        margin-top: -15vh;
        margin-left: -28vw;
    }
    .sec1 .ideas h3 {
        font-size: 25vw;
    }
    .sec1 .ideas .ideas-desc {
        font-size: 1.9vw;
    }
    .sec1-desc {
        font-size: 5.4vw;
        position: absolute;
        left: 11.5vw;
        bottom: 7vh;
    }
}
@media(max-width: 480px){
    #header {
        padding: 4.5vw 5.2vw;
    }
    #header h1,
    #header nav {
        font-size: 5.2vw;
    }
    .sec1-bg iframe {
        width: 65vw;
        height: 65vh;
        margin-top: 24vh;
        margin-left: 18vw;
        margin-bottom: 10vh;
    }
    .sec1 .ideas {
        margin-top: -12vh;
        margin-left: -34vw;
    }
    .sec1 .ideas h3 {
        font-size: 27vw;
    }
    .sec1 .ideas .ideas-desc {
        font-size: 2.4vw;
    }
    .sec1-desc {
        font-size: 6vw;
        position: absolute;
        left: 8vw;
    }
}


/* section2 */
#section2 {}
.sec2 .personal {
    padding-top: 14vh;
    margin-bottom: 6.5vh;
    align-items: end;
}
.sec2 .personal .myPhoto {
    width: 29vw;
    height: 29vw;
    background: url(../img/CJJ_01.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-left: 62vw;
    opacity: 0;
}
.sec2 .personal h3 {
    width: 115vw;
    font-size: 15.5vw;
    color: var(--title);
    line-height: 1.2;
    margin-top: -8vh;
    margin-left: -12vw;
    white-space: nowrap;
    position: relative;
}
.sec2 .personal h3 .bead1 {
    background: url(../img/circle_01.svg) no-repeat;
    background-size: cover;
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    position: absolute;
    left: 48.2%;
    top: 11%;
}
/* person */
.person {
    margin-top: 8vh;
    margin-bottom: 30vh;
}
.person__item {
    max-width: 0;
    font-family: var(--font-sub);
    color: var(--white);
    position: relative;
}
.person__item-image_wrap {
    position: fixed;
    left: 60%;
    top: 14%;
    pointer-events: none;
    opacity: 0;
}
.person__item-image_inner {}
.person__item-image_inner .person__item-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 33vw;
    height: 33vw;
    border-radius: 50%;
    object-fit: cover;
    z-index: -1;
}
.person__item-cont {
    margin-left: -17.5vw;
    margin-top: 21vw;
    color: var(--white);
}
.person__item-cont_tit {
    font-size: 3.8vw;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2vh;
    z-index: 1;
}
.person__item-cont_desc {
    font-family: var(--font-kor);
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 1.5;
}
.person__item-text {
    font-family: var(--font-sub);
    font-size: 3.7vw;
    font-weight: 500;
    line-height: 1.3;
    opacity: 1;
    transition: opacity 1500ms ease;
    white-space: nowrap;
    overflow: hidden;
    cursor: cell;
    margin-left: 68vw;

    /* min-width: 50vw; */
}
.person__item-innertext {
    background: var(--bg);
    overflow: hidden;
}
.person__item-innertext span {
    display: inline-block;
    transform: translateY(100%);
}
.person__item:hover .person__item-text {
    color: var(--title);
}
.person__item:hover .person__item-image_wrap {
    z-index: -2;
}
@media(max-width: 1220px){
    .sec2 .personal .myPhoto {
        margin-top: -10vh;
    }
    .sec2 .personal h3 {
        margin-top: -3vh;
    }
    .person {
        margin-top: 4vh;
    }
    .person__item-image_wrap {
        position: fixed;
        left: 60%;
        top: 38%;
    }
    .person__item-image_inner .person__item-image {}
    .person__item-cont {}
    .person__item-cont_tit {}
    .person__item-cont_desc {}
    .person__item-text {}
}
@media(max-width: 768px){}
@media(max-width: 480px){}


/* section3 */
#section3 {
    height: 100vh;
    background: var(--webBG);
    opacity: 0;
}
.sec3 .horizontal__Wrap {
    width: 110%;
    height: 100vh;
    overflow: hidden;
}
.sec3 .horizontal__Section {
    /* 브라우저에서는 기본적으로 scroll chaining이 발생 : 내부 스크롤이 끝나면 바깥쪽 혹은 같은 레벨에 있는 Element에서 스크롤이 계속됨. overscroll-behavior: none;은 scroll chaining이 발생을 방지 */
    overscroll-behavior: none;
    width: 1000%;
    /* width: 220%; */
    display: flex;      /* 가로 정렬 */
    flex-wrap: nowrap;  /* 넘치면 보이지 않게 */
}
.sec3 .horizon {
    width: 110%;
    height: 100vh;
}
/* website */
.website {
    /* background: rgb(234, 165, 165); */
    transform: translateX(10%);
    opacity: 0;
}
.website h3 {
    font-family: var(--font-main);
    font-size: 15.5vw;
    padding-top: 6vh;
    padding-bottom: 13vh;
    margin-left: 14vw;
    line-height: 1.2;
    white-space: nowrap;
}
.website__cont {
    padding: 0 5vw 6.5vh 11vw;
    font-family: var(--font-sub);
    display: flex;
    flex-wrap: wrap;
}
.website-contL {
    padding-top: 1vh;
    margin-right: 26vw;
}
.website-contL h4 {
    font-size: 3.6vw;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 4vh;
}
.website-contL p {
    font-family: var(--font-kor);
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.5;
    opacity: 0;
}
.website-contR {
    font-size: 3.6vw;
    font-weight: 500;
    line-height: 1.1;
    position: relative;
}
.website-contR > div {
    font-weight: 700;
    -webkit-text-stroke: 0.5px;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: -2.8vw;
    top: -3.7vh;
}
.website-contR ul {
    color: #f3f3f3;
    line-height: 1.03;
}
.website-contR ul li {
    display: block;
    background: var(--webBG);
    overflow: hidden;
}
.website-contR ul li span {
    display: inline-block;
    transform: translateX(-100%);
    opacity: 0;
}

/* websites__view */
/* .websites__view {
    font-family: var(--font-main);
}
.websites__view .web-num {
    font-size: 24.5vw;
    color: var(--webNum);
    z-index: -200 !important;
}
.websites__view .web-img {
    width: 53vw;
    height: 63vh;
} */
.web-info {}
.web-info h3 {
    font-size: 5.2vw;
    position: relative;
    margin-bottom: 4.5vh;
}
.web-info h3 em {
    margin-right: 1vw;
    z-index: 1;
}
.web-info h3 .subject {
    font-size: 2.1vw;
    position: absolute;
    top: 34%;
}
.web-info h3 span {
    display: inline-block;
    width: 26vw;
    height: 2.2vw;
    border-radius: 50px;
    background: var(--webTitBase);
    z-index: -100;
    position: absolute;
    left: 11.8vw;
    top: 3.2vw;
}

.web-info .webDesc {
    width: 40vw;
    font-family: var(--font-kor);
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 1.45;
    margin-left: 9.5vw;
}
.web-link {
    /* z-index: 100; */
}
.web-link a {
    display: inline-block;
    color: var(--black);
    font-size: 2.1vw;
    background: var(--white);
    width: 5.8vw;
    height: 5.8vw;
    border-radius: 50%;
}
.web-link a:nth-child(1) {
    padding: 1.9vw 1vw;
}
.web-link a:nth-child(2) {
    padding: 1.8vw 0.7vw;
    margin-left: 0.2vw;
}
.web-link a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: var(--white);
}

/* imgDown */
.websites__view .imgDown {}
.imgDown .web-num {
    font-size: 24.5vw;
    color: var(--webNum);
    margin-top: -4vh;
    transform: translateY(-100%);
    z-index: -200 !important;
}
.imgDown .web-img {
    width: 53vw;
    height: 63vh;
    margin-top: -21vh;
    margin-left: 7vw;
}
.imgDown .web-info {
    margin-top: -58vh;
    margin-left: 55.5vw;
}
.imgDown .web-link {
    margin-top: 15vh;
    margin-left: 57vw;
}

/* imgUp */
.websites__view .imgUp {}
.imgUp .web-num {
    font-size: 24.5vw;
    color: var(--webNum);
    margin-top: 51vh;
    /* transform: translateY(100%); */
    z-index: -200 !important;
}
.imgUp .web-img {
    width: 53vw;
    height: 63vh;
    margin-top: -94vh;
    margin-left: 11vw;
}
.imgUp .web-info {
    margin-top: -31.5vh;
    margin-left: 60vw;
}
.imgUp .web-info h3 span {
    position: absolute;
    left: 7vw;
    top: 3.2vw;
}
.imgUp .web-link {
    margin-top: 6.5vh;
    margin-left: 52vw;
}

.websites__view1 .img01 {
    background: url(../img/Site_Img01.jpg);
    background-size: cover;
    background-position: center center;
}
.websites__view2 .img02 {
    background: url(../img/Site_Img02.jpg);
    background-size: cover;
    background-position: center center;
}
.websites__view3 .img03 {
    background: url(../img/Site_Img03.jpg);
    background-size: cover;
    background-position: center center;
}
.websites__view4 .img04 {
    background: url(../img/Site_Img04.jpg);
    background-size: cover;
    background-position: center center;
}
.websites__view5 .img05 {
    background: url(../img/Site_Img05.jpg);
    background-size: cover;
    background-position: center center;
}
.websites__view6 .img06 {
    background: url(../img/Site_Img06.jpg);
    background-size: cover;
    background-position: center center;
}
.websites__view7 .img07 {
    background: url(../img/Site_Img07.jpg);
    background-size: cover;
    background-position: center center;
}
.websites__view8 .img08 {
    background: url(../img/Site_Img08.jpg);
    background-size: cover;
    background-position: center center;
}
@media(max-width: 1220px){}
@media(max-width: 768px){}
@media(max-width: 480px){}


/* section4 */
#section4 {
    position: relative;
}
.sec4 .sec4-bg iframe {
    width: 40vw;
    height: 40vh;
    z-index: -2;
    margin-left: 54vw;
    margin-top: 10vh;
}
.sec4 h3 {
    font-size: 15.5vw;
    color: var(--title);
    line-height: 1.2;
    margin-left: 6vw;
    margin-top: -25vh;
    margin-bottom: 12vh;
    white-space: nowrap;
    opacity: 0;
}
.study {
    margin-left: 10.2vw;
    margin-bottom: 20vh;
}
.study-tit {
    font-family: var(--font-sub);
    font-size: 3.6vw;
    font-weight: 500;
    margin-bottom: 4vh;
}
.study-desc {
    font-family: var(--font-kor);
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.5;
    opacity: 0;
}
.study__list {
    padding: 0 10.2vw;
    margin-bottom: 30vh;
}
.study__list ul {}
.study__list ul li {
    border-top: 0.1vw solid #8b8b8b;
    padding: 3vh 0;
    transform: scaleX(0.01) scaleY(0);
    background: var(--bg);
}
.study__list ul li:nth-child(13) {
    border-bottom: 0.1vw solid #8b8b8b;
}
.study__list ul li span {
    display: flex;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
}
.study__list ul li span em {
    text-align: left;
    transform: translate(15%);
}
.study__list ul li span em:nth-child(1) {
    width: 23%;
    font-family: var(--font-sub);
    font-size: 1vw;
    font-weight: 500;
}
.study__list ul li span em:nth-child(2) {
    width: 24%;
    font-family: var(--font-sub);
    font-size: 1.2vw;
    font-weight: 500;
}
.study__list ul li span em:nth-child(3) {
    width: 51%;
    font-family: var(--font-kor);
    font-size: 0.85vw;
    line-height: 1.45;
    font-weight: 300;
}
.study__list ul li span em:nth-child(3) a {
    text-decoration: underline;
    text-underline-position: under;
}
@media(max-width: 1220px){}
@media(max-width: 768px){}
@media(max-width: 480px){}


/* section5 */
#section5 {}
.sec5 .sec5-bg {
    margin-left: 55vw;
    margin-top: 30vh;
}
.sec5 .sec5-bg iframe {
    width: 60vw;
    height: 60vh;
    opacity: 0;
}
.sec5 h3, .sec5 h4 {
    font-size: 15.5vw;
    color: var(--title);
    line-height: 1.2;
    white-space: nowrap;
}
.sec5 h3 {
    margin-left: -70vw;
    margin-top: -70vh;
    margin-bottom: -10vh;
}
.sec5 h4 {
    /* margin-left: -23vw; */
    margin-left: 13vw;
    margin-top: 2vh;
    margin-bottom: 10vh;
}
.values {
    margin-left: 10.2vw;
    margin-bottom: 40vh;
}
.values-tit {
    font-family: var(--font-sub);
    font-size: 3.6vw;
    font-weight: 500;
    margin-bottom: 4vh;
}
.values-desc {
    font-family: var(--font-kor);
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.5;
    opacity: 0;
}
.values__brand {
    position: relative;
}
/* .shape__arc {
    width: 100vw;
    height: 100vh;
    background: url(../img/bowl.svg);
    background-size: cover;
    background-position: center center;
} */
.shape__circles {}
.shape__circles .bead2 {
    background: url(../img/circle_02.svg) no-repeat;
    background-size: cover;
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    position: absolute;
    left: 48.9vw;
    top: -28.6vh;
}
.circle {
    font-family: var(--font-kor);
    font-size: 1.5vw;
    color: var(--black);
    line-height: 1.2;
    text-align: center;
    background: var(--circle);
    border-radius: 50%;
}
.bead3 {
    width: 15.6vw;
    height: 15.6vw;
    padding: 6.2vw 0;
    position: absolute;
    left: 6.4vw;
    top: 13.5vh;
    transform: rotate(80deg);
}
.bead4 {
    width: 15.2vw;
    height: 15.2vw;
    padding: 6.5vw 0;
    position: absolute;
    left: 20.8vw;
    top: 2.3vh;
    transform: rotate(21deg);
}
.bead5 {
    width: 14.8vw;
    height: 14.8vw;
    padding: 6.1vw 0;
    position: absolute;
    left: 35.9vw;
    top: 1.7vh;
    transform: rotate(-30deg);
}
.bead6 {
    width: 12.1vw;
    height: 12.1vw;
    padding: 4.4vw 0;
    position: absolute;
    left: 45.3vw;
    top: 26vh;
    transform: rotate(55deg);
}
.bead7 {
    width: 14.2vw;
    height: 14.2vw;
    padding: 5.7vw 0;
    position: absolute;
    left: 53.9vw;
    top: 41.8vh;
    transform: rotate(12deg);
}
.bead8 {
    width: 14.8vw;
    height: 14.8vw;
    padding: 5.2vw 0;
    position: absolute;
    left: 65vw;
    top: 23.3vh;
    transform: rotate(-60deg);
}
.bead9 {
    width: 11.7vw;
    height: 11.7vw;
    padding: 4vw 0;
    position: absolute;
    left: 79.7vw;
    top: 28.9vh;
    transform: rotate(41deg);
}
.bead10 {
    width: 12.7vw;
    height: 12.7vw;
    padding: 5.1vw 0;
    position: absolute;
    left: 67.2vw;
    top: 52.9vh;
    transform: rotate(70deg);
}
.bead11 {
    width: 11.3vw;
    height: 11.3vw;
    padding: 4.3vw 0;
    position: absolute;
    left: 52vw;
    top: 69.5vh;
    transform: rotate(-40deg);
}
.bead12 {
    width: 9.2vw;
    height: 9.2vw;
    padding: 3.2vw 0;
    position: absolute;
    left: 43vw;
    top: 75vh;
    transform: rotate(10deg);
}
.bead13 {
    width: 16.3vw;
    height: 16.3vw;
    padding: 6.8vw 0;
    position: absolute;
    left: 34.5vw;
    top: 44.2vh;
    transform: rotate(36deg);
}
.bead14 {
    width: 11.3vw;
    height: 11.3vw;
    padding: 4.4vw 0;
    position: absolute;
    left: 26.3vw;
    top: 31.7vh;
    transform: rotate(-27deg);
}
.bead15 {
    width: 12.8vw;
    height: 12.8vw;
    padding: 5.1vw 0;
    position: absolute;
    left: 17.7vw;
    top: 48.5vh;
    transform: rotate(8deg);
}
.bead16 {
    width: 9.5vw;
    height: 9.5vw;
    padding: 3.4vw 0;
    position: absolute;
    left: 27.6vw;
    top: 66.6vh;
    transform: rotate(-8deg);
}
.bead17 {
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 37.5vw;
    top: 34.8vh;
}
.bead18 {
    width: 7vw;
    height: 7vw;
    position: absolute;
    left: 63.3vw;
    top: 72.8vh;
}
.bead19 {
    width: 6.5vw;
    height: 6.5vw;
    position: absolute;
    left: 12.3vw;
    top: 45.8vh;
}
.bead20 {
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    left: 79.7vw;
    top: 57.3vh;
}
@media(max-width: 1220px){}
@media(max-width: 768px){}
@media(max-width: 480px){}


/* footer */
#footer {
    width: 100vw;
    overflow: hidden;
    margin-top: 15vh;
}
#footer h2, #footer h3 {
    font-size: 15.5vw;
    color: var(--title);
    line-height: 1.2;
    white-space: nowrap;
}
#footer h2 {
    margin-left: 10vw;
}
#footer h3 {
    margin-left: 27.5vw;
    margin-top: -13.5vh;
}
/* flow__cont */
.flow__cont {}
.flow-wrap {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
    font-family: var(--font-sub);
    font-weight: 300;
    color: var(--line);
    font-size: 3.2vw;
}
.flow-wrap:hover {
    color: var(--finish);
}
.flow-wrap:hover .flowText {
    animation-play-state: paused;
    cursor: help;
}
.flowText {
    animation: textLoop 3s linear infinite;
    padding-right: 1.4881vw;
}
@keyframes textLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
}
/* end__cont */
.end__cont {
    display: flex;
    flex-wrap: wrap;
    padding: 14vh 2vw 12vh 5.2vw;
    font-family: var(--font-sub);
}
.end-desc {
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 1.1;
    margin-left: 26.7vw;
}
.end-desc div {
    /* display: block; */
    background: var(--bg);
    overflow: hidden;
}
.end-desc div span {
    display: inline-block;
    transform: translateY(100%);
    min-width: 0.45vw;
}
.end-info {
    margin-top: 1.5vh;
    margin-left: 21.5vw;
    margin-bottom: 20vh;
    background: var(--bg);
    overflow: hidden;
}
.end-info div {
    transform: translateY(100%);
}
.end-info .dateTime {
    font-size: 3.6vw;
    font-weight: 300;
    margin-bottom: 4vh;
}
.end-info .dateTime:hover {
    text-shadow: 1px 1px 1px 1px #f3f3f3;
}
.end-info .myAddress {}
.end-info .myAddress a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.end-info .myAddress a:nth-child(1) {
    display: block;
    font-size: 1.8vw;
    font-weight: 500;
    margin-bottom: 1.5vh;
}
.end-info .myAddress a:nth-child(2) {
    font-size: 1.2vw;
    font-weight: 300;
    color: #2D2E30;
}
/* end-link */
.end-link {
    display: flex;
    flex-wrap: wrap;
}
.end-link h4 {
    font-size: 7vw;
    font-weight: 600;
    line-height: 1.3;
    color: var(--finish);
    border-bottom: 0.7vw solid var(--finish);
    height: 19.5vh;
    overflow: hidden;
}
.end-link h4 span {
    display: inline-block;
}
.end-link h4:hover .letter, .end-link h4.play .letter {
    transform: translateY(-100%);
}
.end-link h4 .letter {
    display: inline-block;
    transition: transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.end-link > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2vh;
    margin-left: 12.5vw;
}
.myLink {
    width: 5.75vw;
    height: 5.75vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.myLink:after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.1vw solid rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    width: 117%;
    height: 117%;
}
.myLink:hover .linkHover {
    stroke-dashoffset: 0;
}
.myLink img {
    width: 1.4vw;
    object-fit: contain;
    object-position: center;
}
.linkHover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 117%;
    height: 117%;
    z-index: 1;
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: all ease-out .5s;
}
@media(max-width: 1220px){}
@media(max-width: 768px){}
@media(max-width: 480px){}